
@import "_base";
@import "_variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Scope One', serif;
}

//Theme colors 

$blue-hover:#3299ef;
$secondary:#ececec;
$danger:#d32752;
$warning:#f7b84b;
$succes:#1ac888;
$blue:rgb(52, 152, 219);
$gray:rgb(153, 153, 153);

//Spacing

$base-padding:0.75rem;
$base-margin:0.75rem;

//Borders


$base-border-thickness:1px;
$base-border-radius:20px;


//Mesafe

$mesafe:25px;


.header {
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 20px;

}

.header .logo a {
    color: $blue;
}

.header .logo span {
    color: #fff;
}

.header a {
    color: #fff;
    transition: color 0.3s ease-in;
}

.header a:hover{
    color: $blue;
}

.banner {
    background-image: url(/images/baku.jpg);
    background-size: cover;
        background-position: center;
        height: 100vh;
        object-fit: cover;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.inner {
    color: #fff;
    justify-content: center;
    padding-top: 20vh;
}

.inner header h1 {
    font-size: 4em;
}

.inner header p {
    font-size: 1.5em;
    padding-bottom: 10px;
}

 .button-big {
    padding-top: 30px;
}
 .button-big a:hover{
    background-color: $blue-hover;
}
 .button-big a {

    background-color: $blue;
    padding: 1em 1.5em;
    border-radius: 4px;
    color: #fff;
}

.style1 {
    display: flex;
    background-color: #fff;
    color: $gray;
    height: 60vh;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}
.style1 .container {
    width: 85%;
    margin: 0 auto;
}

.style1 .container .img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border : 5px $gray solid;
    object-fit: cover;
}

.title {
    width: 70%;
}

.style2 {
    display: flex;
    background-color: #fff;
    color: $gray;
    height: 60vh;
}

.style2 {
    background-color: $blue;
}

.style2 .container {
    width: 85%;
    margin: 0 auto;
}

.style2 .container .img img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border : 5px $gray solid;
    object-fit: cover;
}

.button-big-2 {
    padding-top: 30px;
}

 .button-big-2 a {

    background-color: #fff;
    padding: 1em 1.5em;
    border-radius: 4px;
    color: $blue;
}

.style3 {
    background-color: rgb(250,250,250);
    color: $gray;
    height: 100vh;
}

.container3 {
    width: 90%;
    margin: 0 auto;
    
    
}

.style3 .style3-title {
    padding-top: 80px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.wrapper {
    display: flex;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.style3-container {
   width: 30%;
   
}


.img-3 img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border : 5px $gray solid;
    object-fit: cover;
}


.style4 {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    height: 40vh;

}

.container4 {
    margin: 0 auto;
    width: 80%;
}

.logos i {
    margin-left: 25px;
}

.logos a {
    color: black;
}

.logos .instagram:hover {
    color: pink 
}

.logos .facebook:hover {
    color: blue
}
.logos .twitter:hover {
    color: $blue
}
.logos .github:hover {
    color: $gray
}

